@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #a6a6a6;
    border-radius: 3px;
  }

  ::-webkit-outer-spin-button,
  ::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  details > summary {
    @apply block;
  }

  details > summary::-webkit-details-marker {
    @apply hidden;
  }

  @font-face {
    font-family: "Urbane";
    font-weight: 100;
    font-display: swap;
    src: url("../public/fonts/UrbaneThin.woff2") format("woff2"), url("../public/fonts/UrbaneThin.woff") format("woff");
  }

  @font-face {
    font-family: "Urbane";
    font-weight: 200;
    font-display: swap;
    src: url("../public/fonts/UrbaneExtraLight.woff2") format("woff2"),
      url("../public/fonts/UrbaneExtraLight.woff") format("woff");
  }

  @font-face {
    font-family: "Urbane";
    font-weight: 300;
    font-display: swap;
    src: url("../public/fonts/UrbaneLight.woff2") format("woff2"),
      url("../public/fonts/UrbaneLight.woff") format("woff");
  }

  @font-face {
    font-family: "Urbane";
    font-weight: 500;
    font-display: swap;
    src: url("../public/fonts/UrbaneMedium.woff2") format("woff2"),
      url("../public/fonts/UrbaneMedium.woff") format("woff");
  }

  @font-face {
    font-family: "Urbane";
    font-weight: 600;
    font-display: swap;
    src: url("../public/fonts/UrbaneDemiBold.woff2") format("woff2"),
      url("../public/fonts/UrbaneDemiBold.woff") format("woff");
  }

  @font-face {
    font-family: "Urbane";
    font-weight: bold;
    font-display: swap;
    src: url("../public/fonts/UrbaneBold.woff2") format("woff2"), url("../public/fonts/UrbaneBold.woff") format("woff");
  }

  @font-face {
    font-family: "Urbane";
    font-weight: 900;
    font-display: swap;
    src: url("../public/fonts/UrbaneHeavy.woff2") format("woff2"),
      url("../public/fonts/UrbaneHeavy.woff") format("woff");
  }
}
